Cisco.Api/WSDLs/FNAlertService.wsdl

<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns1="http://www.cisco.com/FNAlertService"
	targetNamespace="http://www.cisco.com/FNAlertService">
	<wsdl:types>


		<xs:schema xmlns:tns="http://www.cisco.com/FNAlertService"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://www.cisco.com/FNAlertService">

			<xs:complexType name="FNRequest">
				<xs:sequence>
					<xs:element name="customerId" type="xs:string" />
					<xs:element name="inventoryId" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="deviceIds"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="FNRequestInput" type="tns:FNRequest" />
			<xs:complexType name="FNResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="DeviceFNResponseDTO" type="tns:DeviceFNResponse" />
					<xs:element name="responseTimestamp" nillable="true"
						type="xs:dateTime" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="message"
						type="tns:Message" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="FNResponseOutput" type="tns:FNResponse" />
			<xs:complexType name="Message">
				<xs:sequence>
					<xs:element name="messageType" nillable="true" type="xs:string" />
					<xs:element name="messageDetail" nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DeviceFNResponse">
				<xs:sequence>
					<xs:element name="deviceId" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="deviceFN"
						type="tns:DeviceFN" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DeviceFN">
				<xs:all minOccurs="0">
					<xs:element name="fnId" type="xs:string" />
					<xs:element name="matchConfidence" type="xs:string" />
					<xs:element name="matchReason" type="xs:string" />
				</xs:all>
			</xs:complexType>
			<xs:complexType name="DeviceFNMessage">
				<xs:sequence>
					<xs:element name="messageDetail" type="xs:string" />
					<xs:element name="messageType" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="FNDetailsRequest">
				<xs:sequence>
					<xs:element name="fnIds">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" name="fnId" type="xs:string" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="FNDetailsRequestInput" type="tns:FNDetailsRequest" />
			<xs:complexType name="FNDetailsResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="FNDetailsDTO" type="tns:FNDetails" />
					<xs:element name="responseTimestamp" nillable="true"
						type="xs:dateTime" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="message"
						type="tns:Message" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="FNDetailsResponseOutput" type="tns:FNDetailsResponse" />
			<xs:complexType name="FNDetails">
				<xs:all minOccurs="0">
					<xs:element name="fnId" type="xs:string" />
					<xs:element name="caveat" type="xs:string" />
					<xs:element name="distributionCode" type="xs:string" />
					<xs:element name="fieldNoticeName" type="xs:string" />
					<xs:element name="fieldNoticeTypeCode" type="xs:string" />
					<xs:element name="fieldNoticeURL" type="xs:string" />
					<xs:element name="firstPublishDate" type="xs:dateTime" />
					<xs:element name="isSerialNumberAvailableCode" type="xs:string" />
					<xs:element name="lastRevisionDate" type="xs:dateTime" />
					<xs:element name="publishUserId" type="xs:string" />
					<xs:element name="status" type="xs:string" />
				</xs:all>
			</xs:complexType>

		</xs:schema>
	</wsdl:types>

	<wsdl:message name="getFNRequestMessage">
		<wsdl:part name="parameters" element="ns1:FNRequestInput" />
	</wsdl:message>

	<wsdl:message name="getFNResponseMessage">
		<wsdl:part name="parameters" element="ns1:FNResponseOutput" />
	</wsdl:message>

	<wsdl:message name="getFNDetailsRequestMessage">
		<wsdl:part name="parameters" element="ns1:FNDetailsRequestInput" />
	</wsdl:message>

	<wsdl:message name="getFNDetailsResponseMessage">
		<wsdl:part name="parameters" element="ns1:FNDetailsResponseOutput" />
	</wsdl:message>

	<wsdl:portType name="FNAlertServicePortType">
		<wsdl:operation name="getFN">
			<wsdl:input message="ns1:getFNRequestMessage" wsaw:Action="getFN" />
			<wsdl:output message="ns1:getFNResponseMessage"
				wsaw:Action="urn:getFNResponse" />

		</wsdl:operation>
		<wsdl:operation name="getFNDetails">
			<wsdl:input message="ns1:getFNDetailsRequestMessage"
				wsaw:Action="getFNDetails" />
			<wsdl:output message="ns1:getFNDetailsResponseMessage"
				wsaw:Action="urn:getFNDetailsResponse" />

		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="FNAlertServiceSOAP11Binding" type="ns1:FNAlertServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="getFN">
			<soap:operation soapAction="getFN" style="document" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getFNDetails">
			<soap:operation soapAction="getFNDetails" style="document" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>

		</wsdl:operation>
	</wsdl:binding>


	<wsdl:service name="FNAlertService">
		<wsdl:port name="FNAlertServiceSOAP11port_http" binding="ns1:FNAlertServiceSOAP11Binding">
			<soap:address location="https://api.cisco.com/pss/v1.0/FNAlertService" />
		</wsdl:port>

	</wsdl:service>
</wsdl:definitions>