Cisco.Api/WSDLs/HwEoxAlertService.wsdl

<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns1="http://www.cisco.com/HwEoxAlertService"
	targetNamespace="http://www.cisco.com/HwEoxAlertService">
	<wsdl:types>

		<xs:schema xmlns:tns="http://www.cisco.com/HwEoxAlertService"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://www.cisco.com/HwEoxAlertService">

			<xs:complexType name="HwEoxRequest">
				<xs:sequence>
					<xs:element name="customerId" type="xs:string" />
					<xs:element name="inventoryId" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="deviceIds"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="HwEoxRequestInput" type="tns:HwEoxRequest" />
			<xs:complexType name="HwEoxResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="DeviceHwEoxResponseDTO" type="tns:DeviceHwEoxResponse" />
					<xs:element name="responseTimestamp" nillable="true"
						type="xs:dateTime" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="message"
						type="tns:Message" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="HwEoxResponseOutput" type="tns:HwEoxResponse" />
			<xs:complexType name="DeviceHwEoxResponse">
				<xs:sequence>
					<xs:element name="deviceId" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="deviceHwEox" type="tns:DeviceHwEox" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DeviceHwEox">
				<xs:all minOccurs="0">
					<xs:element name="hwEoxId" type="xs:string" />
					<xs:element name="productId" type="xs:string" />
				</xs:all>
			</xs:complexType>
			<xs:element name="HwEoxBulletinRequestInput" type="tns:HwEoxBulletinRequest" />
			<xs:complexType name="HwEoxBulletinRequest">
				<xs:sequence>
					<xs:element name="hwEoxIds">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" name="hwEoxId"
									type="xs:string" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="HwEoxBulletinResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="HwEoxBulletinDTO" type="tns:HwEoxBulletin" />
					<xs:element name="responseTimestamp" nillable="true"
						type="xs:dateTime" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="message"
						type="tns:Message" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="HwEoxBulletinResponseOutput" type="tns:HwEoxBulletinResponse" />
			<xs:complexType name="Message">
				<xs:sequence>
					<xs:element name="messageType" nillable="true" type="xs:string" />
					<xs:element name="messageDetail" nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="HwEoxBulletin">
				<xs:all minOccurs="0">
					<xs:element name="bulletinName" type="xs:string" />
					<xs:element name="bulletinNumber" type="xs:string" />
					<xs:element name="bulletinPID" type="xs:string" />
					<xs:element name="bulletinURL" type="xs:string" />
					<xs:element name="endOfHardwareRoutineFailureAnalysisDate"
						type="xs:dateTime" />
					<xs:element name="endOfHardwareServiceContractRenewalDate"
						type="xs:dateTime" />
					<xs:element name="endOfLastDateOfSupport" type="xs:dateTime" />
					<xs:element name="endOfLifeExternalAnnouncementDate"
						type="xs:dateTime" />
					<xs:element name="endOfSaleDate" type="xs:dateTime" />
					<xs:element name="endOfSoftwareMaintenanceReleasesDate"
						type="xs:dateTime" />
					<xs:element name="hwEoXId" type="xs:string" />
					<xs:element name="svcAttachEndDate" type="xs:dateTime" />
				</xs:all>
			</xs:complexType>
			<xs:element name="HwEoxMigrationPidRequestInput" type="tns:HwEoxMigrationPidRequest" />
			<xs:complexType name="HwEoxMigrationPidRequest">
				<xs:sequence>
					<xs:element name="hwEoxIds">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" name="hwEoxId"
									type="xs:string" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="HwEoxMigrationPidResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="HwEoxMigrationPidDTO" type="tns:HwEoxMigrationPidDetails" />
					<xs:element name="responseTimestamp" nillable="true"
						type="xs:dateTime" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="message"
						type="tns:Message" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="HwEoxMigrationPidResponseOutput" type="tns:HwEoxMigrationPidResponse" />
			<xs:complexType name="HwEoxMigrationPidDetails">
				<xs:sequence>
					<xs:element minOccurs="0" name="pid" type="xs:string" />
					<xs:element minOccurs="0" name="hwEoxId" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="hwEoxMigrationPid" type="tns:MigrationPid" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="MigrationPid">
				<xs:all minOccurs="0">
					<xs:element name="migrationPAICode" type="xs:string" />
					<xs:element name="migrationPAIDesc" type="xs:string" />
					<xs:element name="migrationPAIText" type="xs:string" />
					<xs:element name="migrationPID" type="xs:string" />
					<xs:element name="migrationProductDataURL" type="xs:string" />
					<xs:element name="migrationProductModel" type="xs:string" />
					<xs:element name="migrationProductPageURL" type="xs:string" />
					<xs:element name="migrationProductPaperURL" type="xs:string" />
					<xs:element name="migrationProductSeries" type="xs:string" />
					<xs:element name="migrationPromotionText" type="xs:string" />
					<xs:element name="migrationPromotionURL" type="xs:string" />
				</xs:all>
			</xs:complexType>

		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getHwEoxMigrationPIDsRequestMessage">
		<wsdl:part name="parameters" element="ns1:HwEoxMigrationPidRequestInput" />
	</wsdl:message>
	<wsdl:message name="getHwEoxMigrationPIDsResponseMessage">
		<wsdl:part name="parameters" element="ns1:HwEoxMigrationPidResponseOutput" />
	</wsdl:message>

	<wsdl:message name="getHwEoxRequestMessage">
		<wsdl:part name="parameters" element="ns1:HwEoxRequestInput" />
	</wsdl:message>

	<wsdl:message name="getHwEoxResponseMessage">
		<wsdl:part name="parameters" element="ns1:HwEoxResponseOutput" />
	</wsdl:message>

	<wsdl:message name="getHwEoxBulletinRequestMessage">
		<wsdl:part name="parameters" element="ns1:HwEoxBulletinRequestInput" />
	</wsdl:message>

	<wsdl:message name="getHwEoxBulletinResponseMessage">
		<wsdl:part name="parameters" element="ns1:HwEoxBulletinResponseOutput" />
	</wsdl:message>

	<wsdl:portType name="HwEoxAlertServicePortType">
		<wsdl:operation name="getHwEoxMigrationPIDs">
			<wsdl:input message="ns1:getHwEoxMigrationPIDsRequestMessage"
				wsaw:Action="getHwEoxMigrationPIDs" />
			<wsdl:output message="ns1:getHwEoxMigrationPIDsResponseMessage"
				wsaw:Action="urn:getHwEoxMigrationPIDsResponse" />

		</wsdl:operation>

		<wsdl:operation name="getHwEox">
			<wsdl:input message="ns1:getHwEoxRequestMessage"
				wsaw:Action="getHwEox" />
			<wsdl:output message="ns1:getHwEoxResponseMessage"
				wsaw:Action="urn:getHwEoxResponse" />

		</wsdl:operation>

		<wsdl:operation name="getHwEoxBulletin">
			<wsdl:input message="ns1:getHwEoxBulletinRequestMessage"
				wsaw:Action="getHwEoxBulletin" />
			<wsdl:output message="ns1:getHwEoxBulletinResponseMessage"
				wsaw:Action="urn:getHwEoxBulletinResponse" />

		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="HwEoxAlertServiceSOAP11Binding" type="ns1:HwEoxAlertServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="getHwEoxMigrationPIDs">
			<soap:operation soapAction="getHwEoxMigrationPIDs"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="getHwEox">
			<soap:operation soapAction="getHwEox" style="document" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="getHwEoxBulletin">
			<soap:operation soapAction="getHwEoxBulletin" style="document" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>


		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="HwEoxAlertService">
		<wsdl:port name="HwEoxAlertServiceSOAP11port_http" binding="ns1:HwEoxAlertServiceSOAP11Binding">
			<soap:address
				location="https://api.cisco.com/pss/v1.0/HwEoxAlertService" />
		</wsdl:port>


	</wsdl:service>
</wsdl:definitions>