Cisco.Api/WSDLs/LastUpdatedService.wsdl

<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns1="http://www.cisco.com/LastUpdatedService"
	targetNamespace="http://www.cisco.com/LastUpdatedService">
	<wsdl:types>

		<xs:schema xmlns:tns="http://www.cisco.com/LastUpdatedService"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://www.cisco.com/LastUpdatedService">

			<xs:element name="LastUpdatedDetailsRequest" type="tns:LastUpdatedDetailsRequest" />
			<xs:element name="LastUpdatedDetailsResponse" type="tns:LastUpdatedDetailsResponse" />
			<xs:complexType name="LastUpdatedDetailsRequest">
				<xs:sequence>
					<xs:element name="customerId" type="xs:string" />
					<xs:element name="inventoryId" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LastUpdatedDetailsResponse">
				<xs:sequence>
					<xs:element name="InvLastUpdated" type="tns:InvLastUpdated" />
					<xs:element name="responseTimestamp" nillable="true"
						type="xs:dateTime" />
					<xs:element name="message" type="tns:Message" minOccurs="0"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="InvLastUpdated">
				<xs:sequence>
					<xs:element name="PartnerName" type="xs:string" />
					<xs:element name="EntitledCompany" type="xs:string" />
					<xs:element name="InventoryName" type="xs:string" />
					<xs:element name="ApplianceID" type="xs:string" />
					<xs:element name="InvLastUpdateTime" type="xs:string" />
					<xs:element name="ContractLastUpdateTime" type="xs:string" />
					<xs:element name="AlertLastUpdateTime" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Message">
				<xs:all minOccurs="0">
					<xs:element name="messageType" nillable="true" type="xs:string" />
					<xs:element name="messageDetail" nillable="true" type="xs:string" />
				</xs:all>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="LastUpdatedDetailsRequest">
		<wsdl:part name="parameters" element="ns1:LastUpdatedDetailsRequest" />
	</wsdl:message>

	<wsdl:message name="LastUpdatedDetailsResponse">
		<wsdl:part name="parameters" element="ns1:LastUpdatedDetailsResponse" />
	</wsdl:message>

	<wsdl:portType name="LastUpdatedServicePortType">
		<wsdl:operation name="getLastUpdatedDetails">
			<wsdl:input message="ns1:LastUpdatedDetailsRequest"
				wsaw:Action="LastUpdatedDetailsRequest" />
			<wsdl:output message="ns1:LastUpdatedDetailsResponse"
				wsaw:Action="urn:LastUpdatedDetailsResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="LastUpdatedServiceSOAP11Binding" type="ns1:LastUpdatedServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />

		<wsdl:operation name="getLastUpdatedDetails">
			<soap:operation soapAction="getLastUpdatedDetails"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LastUpdatedService">
		<wsdl:port name="LastUpdatedServiceSOAP11port_http" binding="ns1:LastUpdatedServiceSOAP11Binding">
			<soap:address location="https://api.cisco.com/pss/v1.0/LastUpdatedService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>