Cisco.Api/WSDLs/SwEoxAlertService.wsdl

<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns1="http://www.cisco.com/SwEoxAlertService"
	targetNamespace="http://www.cisco.com/SwEoxAlertService">
	<wsdl:types>

		<xs:schema xmlns:tns="http://www.cisco.com/SwEoxAlertService"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://www.cisco.com/SwEoxAlertService">

			  <xs:complexType name="Message">
                <xs:sequence>
                    <xs:element name="messageType" nillable="true" type="xs:string"/>
                    <xs:element name="messageDetail" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SwEoxRequest">
                <xs:sequence>
                    <xs:element name="customerId" type="xs:string"/>
                    <xs:element name="inventoryId" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="deviceIds" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="SwEoxRequestInput" type="tns:SwEoxRequest"/>
            <xs:complexType name="SwEoxResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="DeviceSwEoxResponseDTO" type="tns:DeviceSwEoxResponse"/>
                    <xs:element name="responseTimestamp" nillable="true" type="xs:dateTime"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="message" type="tns:Message"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="SwEoxResponseOutput" type="tns:SwEoxResponse"/>
            <xs:complexType name="DeviceSwEoxResponse">
                <xs:sequence>
                    <xs:element name="deviceId" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="deviceSwEox" type="tns:DeviceSwEox"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DeviceSwEox">
                <xs:all minOccurs="0">
                    <xs:element name="softwareEoxId" type="xs:string"/>
                    <xs:element name="softwareVersion" type="xs:string"/>
                    <xs:element name="softwareType" type="xs:string"/>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="SwEoxBulletinRequest">
                <xs:sequence>
                    <xs:element name="softwareEoxIds">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="softwareEoxId" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="SwEoxBulletinRequestInput" type="tns:SwEoxBulletinRequest"/>
            <xs:complexType name="SwEoxBulletinResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="SwEoxBulletinDTO" type="tns:SwEoxBulletin"/>
                    <xs:element name="responseTimestamp" nillable="true" type="xs:dateTime"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="message" type="tns:Message"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="SwEoxBulletinResponseOutput" type="tns:SwEoxBulletinResponse"/>
            <xs:complexType name="SwEoxBulletin">
                <xs:all minOccurs="0">
                    <xs:element name="bulletinNumber" type="xs:string"/>
                    <xs:element name="bulletinURL" type="xs:string"/>
                    <xs:element name="endOfEngineeringDate" type="xs:dateTime"/>
                    <xs:element name="endOfLifeDate" type="xs:dateTime"/>
                    <xs:element name="endOfSaleDate" type="xs:dateTime"/>
                    <xs:element name="softwareEoXId" type="xs:string"/>
                </xs:all>
            </xs:complexType>

		</xs:schema>
	</wsdl:types>

	<wsdl:message name="getSwEoxBulletinRequestMessage">
		<wsdl:part name="parameters" element="ns1:SwEoxBulletinRequestInput" />
	</wsdl:message>

	<wsdl:message name="getSwEoxBulletinResponseMessage">
		<wsdl:part name="parameters" element="ns1:SwEoxBulletinResponseOutput" />
	</wsdl:message>

	<wsdl:message name="getSwEoxRequestMessage">
		<wsdl:part name="parameters" element="ns1:SwEoxRequestInput" />
	</wsdl:message>

	<wsdl:message name="getSwEoxResponseMessage">
		<wsdl:part name="parameters" element="ns1:SwEoxResponseOutput" />
	</wsdl:message>

	<wsdl:portType name="SwEoxAlertServicePortType">

		<wsdl:operation name="getSwEoxBulletin">
			<wsdl:input message="ns1:getSwEoxBulletinRequestMessage"
				wsaw:Action="getSwEoxBulletin" />
			<wsdl:output message="ns1:getSwEoxBulletinResponseMessage"
				wsaw:Action="urn:getSwEoxBulletinResponse" />

		</wsdl:operation>

		<wsdl:operation name="getSwEox">
			<wsdl:input message="ns1:getSwEoxRequestMessage"
				wsaw:Action="getSwEox" />
			<wsdl:output message="ns1:getSwEoxResponseMessage"
				wsaw:Action="urn:getSwEoxResponse" />

		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="SwEoxAlertServiceSOAP11Binding" type="ns1:SwEoxAlertServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="getSwEoxBulletin">
			<soap:operation soapAction="getSwEoxBulletin" style="document" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>

		</wsdl:operation>
		<wsdl:operation name="getSwEox">
			<soap:operation soapAction="getSwEox" style="document" />
			<wsdl:input>
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="parameters" />
			</wsdl:output>

		</wsdl:operation>
	</wsdl:binding>


	<wsdl:service name="SwEoxAlertService">
		<wsdl:port name="SwEoxAlertServiceSOAP11port_http" binding="ns1:SwEoxAlertServiceSOAP11Binding">
			<soap:address
				location="https://api.cisco.com/pss/v1.0/SwEoxAlertService" />
		</wsdl:port>

	</wsdl:service>
</wsdl:definitions>